body {
    text-align: center;
    background-color: #C5E6A6;
    padding: 170px 0;
    font-family: "Times New Roman", Times, serif;
}
 input[type=submit] {
    padding:5px 15px; 
    background:#C37D92; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
 input[type=radio] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 2px; 
}
.filled-border{
    border:3px solid #BDD2A6;
    border-radius: 50px;
    background-color: #BDD2A6;
    width: 40%;
    margin:0 auto;
    padding-bottom: 20px;
    font-family: Georgia, serif;
}
p{
font-weight: bold;
}
.footer-left {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#BDD2A6;
   text-align: left;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#BDD2A6;
   text-align: center;
}
.dropup{
  color:#243119;
  padding: 0px 20px;
  text-decoration: none;
  display: center;
  transition: ease 0.5s;
}
/* Change color of dropup links on hover */
.dropup:hover {background-color: #96BE8C}
a{
    color:#344427;
    text-decoration: none;
    font-family:'Lora', serif; 
}