<html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
  <body >
  <!-- make form send user to another page which will be the next part of quiz -->
        <div class = "filled-border">
            <h1>Money Moves</h1>
            <form action="/question1" method ="get">
                <input type="submit" value="Begin Quiz">
            </form>
        </div>
    </body>
</html>
