<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
  <body>
            <!-- make form send user to another page which will be the next part of quiz -->
        <div class = "filled-border">
            <p>{{question["question"]}}</p>
            <form action="/results" method ="post">
                <input type="radio" id="answer7" name="Q1" value="answer7">
                <label for="answer7">{{question["wrong_answers"][0]}}</label><br>
                <br>
                <input type="radio" id="answer8" name="Q1" value="answer8">
                <label for="answer8">{{question["wrong_answers"][1]}}</label><br>
                <br>
                <input type="radio" id="answer9" name="Q1" value="answer9">
                <label for="answer9">{{question["correct_answer"]}}</label>
                <br><br>
                <input type="submit" value="Results">
            </form>
        </div>
  </body>
</html>