<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
<body>
    <div class = "filled-border">
         <p>{{question["question"]}}</p>
         <form action="/question2" method ="post">
            <input type="radio" id="answer1" name="Q1" value="answer1">
            <label for="answer1">{{question["wrong_answers"][0]}}</label><br>
            <br>
            <input type="radio" id="answer2" name="Q1" value="answer2">
            <label for="answer2">{{question["wrong_answers"][1]}}</label><br>
            <br>
            <input type="radio" id="answer3" name="Q1" value="answer3">
            <label for="answer3">{{question["correct_answer"]}}</label>
            <br><br>
            <input type="submit" value="Next">
         </form>
    </div>
  </body>
</html>