<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
<body>
    <div class = "filled-border">
         <p class= "textcolor">{{question["question"]}}</p>
         <form action="/question2" method ="post">
            <div class="align">
            <input type="radio" id="answer1" name="Q1" value={{answers_dictionary[first_answer]}}>
            <label for="answer1">{{first_answer}}</label><br>
            <!-- <br> -->
            <input type="radio" id="answer2" name="Q1" value={{answers_dictionary[second_answer]}}>
            <label for="answer2">{{second_answer}}</label><br>
            <!-- <br> -->
            <input type="radio" id="answer3" name="Q1" value={{answers_dictionary[third_answer]}}>
            <label for="answer3">{{third_answer}}</label>
            </div>
            <br><br>
            <input type="submit" value="Next">
         </form>
    </div>
  </body>
</html>