<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
<body>
    <div class = "filled-border">
         <p class= "textcolor">{{question["question"]}}</p>
         <form action="/results" method ="post">
            <input type="radio" id="answer13" name="Q5" value={{answers_dictionary[first_answer]}}>
            <label for="answer13">{{first_answer}}</label><br>
            <br>
            <input type="radio" id="answer14" name="Q5" value={{answers_dictionary[second_answer]}}>
            <label for="answer14">{{second_answer}}</label><br>
            <br>
            <input type="radio" id="answer15" name="Q5" value={{answers_dictionary[third_answer]}}>
            <label for="answer15">{{third_answer}}</label>
            <br><br>
            <input type="submit" value="Results">
         </form>
    </div>
  </body>
</html>