<html>
<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" href="static/css/style.css" type="text/css">
    </head>
    <body>
        <h1>Money Moves</h1>
        <div class="filled-border">

            <!-- <form name="myWebForm"  method="post"> -->
             <form method="post" action="/result">
                <h4>{{question["question"]}}</h4>
                <input type="radio" name="answer" value="wrong"/> </input>
                <label for="answer">{{question["wrong_answers"][0]}}</label><br>
                <input type="radio" name="answer"  value="wrong" /> </input>
                <label for="answer">{{question["wrong_answers"][1]}}</label><br>
                <input type="radio"  name="answer" value="correct"/></input>
                <label for="answer">{{question["correct_answer"]}}</label><br>

                <!-- this is the code for the next button -->
           
                <input type="submit" value="Next">
            </form>
      </div>
    </body>
</html>
