<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
  </head>
<body>
    <div class = "filled-border">
         <p class= "textcolor">{{question["question"]}}</p>
         <form action="/question5" method ="post">
            <input type="radio" id="answer10" name="Q4" value={{answers_dictionary[first_answer]}}>
            <label for="answer10">{{first_answer}}</label><br>
            <br>
            <input type="radio" id="answer11" name="Q4" value={{answers_dictionary[second_answer]}}>
            <label for="answer11">{{second_answer}}</label><br>
            <br>
            <input type="radio" id="answer12" name="Q4" value={{answers_dictionary[third_answer]}}>
            <label for="answer12">{{third_answer}}</label>
            <br><br>
            <input type="submit" value="Next">
         </form>
    </div>
  </body>
</html>