<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
  </head>
  <body>
 <h1></h1>
  <!-- make form send user to another page which will be the next part of quiz -->
    <div class = "filled-border">
        <p>{{question["question"]}}</p>
        <form action="/question3" method ="post">
            <input type="radio" id="answer4" name="Q1" value="answer4">
            <label for="answer4">{{question["wrong_answers"][0]}}</label><br>
            <br>
            <input type="radio" id="answer5" name="Q1" value="answer5">
            <label for="answer5">{{question["wrong_answers"][1]}}</label><br>
            <br>
            <input type="radio" id="answer6" name="Q1" value="answer6">
            <label for="answer6">{{question["correct_answer"]}}</label>
            <br><br>
            <input type="submit" value="Next">
        </form>
    </div>
  </body>
</html>